# choose st-link/j-link/dap-link etc.
adapter driver cmsis-dap
transport select swd
# 0x10000 = 64K Flash Size
# 0x80000 = 512K Flash Size
set FLASH_SIZE 0x80000
# ����OpenOCD\share\openocd\scripts\target�µ�stm.32f1x.cfg�ļ��� <br># ���嵼���ĸ�����stm32�ͺ��йؿ��Ե����ϲ���
source [find target/stm32f4x.cfg]
# download speed = 10MHz
adapter speed 10000